.content{
    border: 1px solid gray;
    padding: 20px 60px;
    width: 65vw;
    margin: 0px auto;
}

.content .grid-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.content h1{
    color: darkred;
    text-align: center;
}

.question {

}

.question span {
    font-weight: bold;
}